Package: com.local.wcvoiceclone
Name: WC VoiceClone
Version: 0.3.0
Architecture: iphoneos-arm
Description: 用 Fish Audio 克隆声音在微信里发送语音消息 (个人自用)
Section: Tweaks
Maintainer: you
Author: you
Depends: mobilesubstrate, firmware (>= 14.0)
